$encrypt-color: #43a047;
$decrypt-color: #ffc107;

$primary-text-color: rgba(#000, 0.87);
$secondary-text-color: rgba(#000, 0.54);
$disabled-text-color: rgba(#000, 0.38);
$background: #fafafa;
$dark-background: #e0e0e0;
$encrypt-card-background: #f1f8e9;
$decrypt-card-background: #fff8e1;

// dark
$primary-text-color-dark: #fff;
$secondary-text-color-dark: rgba(#fff, 0.7);
$disabled-text-color-dark: rgba(#fff, 0.5);
$background-dark: #303030;
$dark-background-dark: #212121;
$encrypt-card-background-dark: #273a12;
$decrypt-card-background-dark: #4b3900;

$file-icon-css-path: "/icons";

$theme-color: #43a047;

$overlay-color: rgba(#000000, 0.4);

@mixin encrypt-card-background-auto {
  background-color: $encrypt-card-background;

  @media (prefers-color-scheme: dark) {
    background-color: $encrypt-card-background-dark;
  }
}

@mixin decrypt-card-background-auto {
  background-color: $decrypt-card-background;

  @media (prefers-color-scheme: dark) {
    background-color: $decrypt-card-background-dark;
  }
}

@mixin background-auto {
  background-color: $background;

  @media (prefers-color-scheme: dark) {
    background-color: $background-dark;
  }
}

@mixin dark-background-auto {
  background-color: $dark-background;

  @media (prefers-color-scheme: dark) {
    background-color: $dark-background-dark;
  }
}

@mixin primary-text-auto {
  color: $primary-text-color;

  @media (prefers-color-scheme: dark) {
    color: $primary-text-color-dark;
  }
}

@mixin secondary-text-auto {
  color: $secondary-text-color;

  @media (prefers-color-scheme: dark) {
    color: $secondary-text-color-dark;
  }
}

@mixin flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin absolute-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
