@use "@material/theme" with (
  $background: #fafafa,
  $primary: #43a047,
  $secondary: #e65100,
  $on-primary: #fff,
  $on-secondary: #fff
);

@import "../common/stylesheets/variables";
@import "../common/stylesheets/mdc-dark-theme";
@import "../common/stylesheets/material-icons-outlined";

@import "@material/button/mdc-button";
@import "@material/icon-button/mdc-icon-button";
@import "@material/snackbar/mdc-snackbar";

@import "../common/modules/Header/header";
@import "../common/modules/Footer/footer";
@import "../common/modules/ErrorIcon/error-icon";
@import "../common/modules/BottomBar/bottom-bar";
@import "../common/modules/FileDrop/file-drop";

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: $background;
  color: $primary-text-color;
  min-width: 260px;
  min-height: 100vh;
  overflow-y: overlay;

  @media (prefers-color-scheme: dark) {
    color: $primary-text-color-dark;
    background-color: $background-dark;
  }
}

#main {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-width: 250px;
  padding-top: 48px;

  @media (max-width: 640px) {
    padding-top: 24px;
  }

  #decryption-card {
    position: relative;
    border-radius: 32px;
    margin: 48px;
    margin-top: 0px;
    padding: 16px;
    padding-top: 24px;
    min-height: 10px;
    max-width: 500px;
    min-width: 250px;
    width: 500px;
    box-sizing: border-box;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff8e1;
    overflow: hidden;

    @media (prefers-color-scheme: dark) {
      background-color: #4b3900;
    }

    @media (max-width: 640px) {
      margin: 4%;
      width: 92%;
    }

    #loading-key-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 100;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      background-color: rgba($color: #000000, $alpha: 0.4);

      &.hide {
        transition-property: all;
        transition-duration: 250ms;
        transition-timing-function: ease-in-out;

        opacity: 0;
        visibility: hidden;
      }

      &.gone {
        display: none;
      }

      #loading-text,
      #decrypting-text {
        color: white;
        font-weight: 300;
        text-align: center;
        font-size: 1.5em;

        @media (max-width: 640px) {
          font-weight: 400;
          font-size: 1em;
        }

        &.gone {
          display: none;
        }
      }

      .animated-logo {
        width: 21%;
      }
    }

    #error-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 100;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #fff8e1;

      @media (prefers-color-scheme: dark) {
        background-color: #4b3900;
      }

      &.gone {
        display: none;

        transition-property: all;
        transition-duration: 250ms;
        transition-timing-function: ease-in-out;

        opacity: 0;
        visibility: hidden;
      }

      .swal2-icon {
        zoom: 1.4;
      }

      .error-text {
        color: $primary-text-color;
        font-weight: 300;
        text-align: center;
        margin-top: 0px;

        @media (prefers-color-scheme: dark) {
          color: $primary-text-color-dark;
        }
      }

      .error-detail-text {
        color: $primary-text-color;
        font-weight: 400;
        text-align: center;
        margin-top: 0px;
        margin-left: 32px;
        margin-right: 32px;

        @media (prefers-color-scheme: dark) {
          color: $primary-text-color-dark;
        }
      }
    }

    .title-container {
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 16px;
      padding-left: 8px;
      padding-right: 8px;

      .title {
        font-weight: 500;
        margin: 0px;
        margin-bottom: 4px;
      }
    }

    #textarea-container {
      position: relative;
      flex-grow: 1;
      width: 100%;
      padding-left: 8px;
      padding-right: 8px;
      margin-bottom: 8px;
      box-sizing: border-box;

      max-height: 100vh;
      will-change: max-height;
      transition-property: all;
      transition-duration: 250ms;
      transition-timing-function: ease-in-out;

      &.hide {
        max-height: 0px;
        visibility: hidden;
      }

      &.gone {
        display: none;
      }

      textarea {
        resize: none;
        width: 100%;
        height: 100px;
        background-color: transparent;
        border: none;
        font-size: 1em;
        outline: none;
        overflow-y: hidden;
        padding: 0px;
        color: $primary-text-color;

        @media (prefers-color-scheme: dark) {
          color: $primary-text-color-dark;
        }

        &::placeholder {
          color: $secondary-text-color;

          @media (prefers-color-scheme: dark) {
            color: $secondary-text-color-dark;
          }
        }
      }
    }

    #decrypt-message-button {
      @include mdc-button-shape-radius(50%);
      @include mdc-button-icon-color($primary-text-color-dark);
      @include mdc-button-disabled-icon-color($secondary-text-color-dark);

      align-self: flex-end;
      margin: 8px;

      &:disabled {
        color: $secondary-text-color-dark;
      }
    }

    #decrypted-message-container {
      flex-grow: 1;
      width: 100%;
      margin-top: 48px;
      min-height: 100px;
      max-height: 100vh;

      will-change: max-height;
      transition-property: max-height;
      transition-duration: 250ms;
      transition-timing-function: ease-in-out;

      &.hide {
        max-height: 0px;
        min-height: 0px;
      }

      &.gone {
        display: none;
      }

      textarea {
        resize: none;
        width: 100%;
        height: 100px;
        background-color: transparent;
        border: none;
        font-size: 1.2em;
        outline: none;
        overflow-y: hidden;
        color: $primary-text-color;
        box-sizing: border-box;
        padding: 0px;
        padding-left: 8px;
        padding-right: 8px;

        @media (prefers-color-scheme: dark) {
          color: $primary-text-color-dark;
        }
      }
    }
  }
}

textarea {
  font-family: "Roboto Slab", serif;
}
