---
import AnimatedLogo from "@/components/shared/AnimatedLogo.vue";
import Button from "@/components/shared/Button.vue";
import FAQButton from "./FAQButton.vue";
---

<div id="top-bar">
  <div class="content">
    <header>
      <div class="animated-logo-container">
        <AnimatedLogo type="tiled-animate-on-hover" />
      </div>
      <a class="logo-text-link" href="/">
        <span class="logo-text">SecretDrop.io</span>
      </a>
    </header>
    <nav class="button-container">
      <Button text="Generate new key pair" href="/" button-style="raised" />
      <FAQButton client:idle />
    </nav>
  </div>
</div>

<style lang="scss">
  @use "@/scss/global";
  @use "@/scss/colors";

  #top-bar {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    padding-bottom: 48px;

    & > .content {
      flex: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-flow: wrap;
      padding: 48px;
      padding-bottom: 0px;
      max-width: 1288px;

      @media (max-width: 420px) {
        padding: 4%;
        padding-top: 36px;
        padding-bottom: 0px;
      }

      @media (max-width: 740px) {
        flex-direction: column;
        justify-content: center;

        .button-container {
          margin-top: 16px;

          flex-direction: column;
        }
      }

      & > header {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        @media (max-width: 740px) {
          gap: 4px;
        }

        & > .animated-logo-container,
        & > .animated-logo-container > :global(*) {
          width: 90px;
          aspect-ratio: 1052 / 1304;

          @media (max-width: 740px) {
            width: 70px;
          }
        }

        & > .logo-text-link {
          all: unset;

          @include global.primary-text-auto;

          cursor: pointer;

          &:focus-visible {
            outline-color: colors.$theme-color;
            outline-width: 2px;
            outline-style: solid;
            outline-offset: 8px;
          }

          & > .logo-text {
            font-size: 2rem;

            @media (max-width: 740px) {
              font-size: 1.8rem;
            }
          }
        }
      }

      & > .button-container {
        display: flex;
        justify-content: center;
        align-items: center;

        & > .button {
          margin: 8px;
        }
      }
    }
  }
</style>
