@import "../../stylesheets/material-icons-outlined";

.bottom-bar-container {
  width: 100%;

  .bottom-bar {
    @include material-icons-outlined;

    display: flex;
    justify-content: flex-end;
  }
}
