@import "../../stylesheets/variables.scss";
@import "@material/button/mdc-button";
@import "../AnimatedLogo/animated-logo";

#footer {
  margin-top: 48px;
  background-color: $dark-background;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (prefers-color-scheme: dark) {
    background-color: $dark-background-dark;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    padding: 48px;
    max-width: 1800px;
    width: 1288px;

    @media (max-width: 680px) {
      flex-direction: column;
    }

    .copyright-notice {
      flex: 1;
      flex-shrink: 0;
      color: $secondary-text-color;

      @media (prefers-color-scheme: dark) {
        color: $secondary-text-color-dark;
      }

      @media (max-width: 680px) {
        order: 3;
        justify-content: center;
        text-align: center;
      }
    }

    .personal-logo-link {
      @media (max-width: 680px) {
        order: 1;
      }

      img {
        width: 2em;
        filter: grayscale(100%);
        transition-property: all;
        transition-duration: 500ms;
        transition-timing-function: ease-in-out;

        &:hover {
          filter: unset;
        }
      }
    }

    .links {
      flex: 1;
      flex-shrink: 0;
      display: flex;
      justify-content: flex-end;
      flex-flow: wrap;

      @media (max-width: 680px) {
        order: 2;
        justify-content: center;
      }

      a {
        text-align: center;
        flex-shrink: 0;
        margin: 16px;
        color: $secondary-text-color;

        @media (prefers-color-scheme: dark) {
          color: $secondary-text-color-dark;
        }
      }

      .github-link {
        @media (max-width: 369px) {
          margin-top: 0px;
          margin-bottom: 34px;
        }

        svg {
          width: 1em;
          fill: $secondary-text-color;

          @media (prefers-color-scheme: dark) {
            fill: $secondary-text-color-dark;
          }
        }
      }
    }
  }
}
