@import "@material/button/mdc-button";
@import "../AnimatedLogo/animated-logo";

#header {
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap;
    padding: 48px;
    padding-bottom: 0px;
    max-width: 1800px;
    width: 1288px;

    &.wrapped {
      justify-content: center;

      .button-container {
        margin-top: 16px;
      }
    }

    .animated-logo-container {
      display: flex;
      justify-content: center;
      align-items: center;

      .animated-logo {
        width: 70px;
        transform: rotate(-5deg);
      }
    }

    .button-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: wrap;

      .mdc-button {
        @include mdc-button-horizontal-padding(16px);
        @include mdc-button-shape-radius(50%);

        margin: 8px;
        text-align: center;
      }
    }
  }
}
