@import "./variables.scss";

@media (prefers-color-scheme: dark) {
  :root {
    --mdc-theme-primary: #2e7d32;
    --mdc-theme-secondary: #bf360c;
    --mdc-theme-background: #{$background};
    --mdc-theme-surface: #{$dark-background-dark};
    --mdc-theme-on-surface: #{$primary-text-color-dark};
    --mdc-theme-text-primary-on-background: #{$primary-text-color-dark};
    --mdc-theme-text-secondary-on-background: #{$secondary-text-color-dark};
  }
}

@media (prefers-color-scheme: dark) {
  .mdc-button--raised .mdc-button__ripple::before,
  .mdc-button--raised .mdc-button__ripple::after,
  .mdc-button--unelevated .mdc-button__ripple::before,
  .mdc-button--unelevated .mdc-button__ripple::after {
    background-color: #000;
  }

  .mdc-icon-button::before,
  .mdc-icon-button::after {
    background-color: #fff;
  }

  .mdc-select--outlined:not(.mdc-select--disabled) .mdc-notched-outline__leading,
  .mdc-select--outlined:not(.mdc-select--disabled) .mdc-notched-outline__notch,
  .mdc-select--outlined:not(.mdc-select--disabled) .mdc-notched-outline__trailing,
  .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
  .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,
  .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
    border-color: $secondary-text-color-dark;
  }

  .mdc-select:not(.mdc-select--disabled):not(.mdc-select--focused) .mdc-floating-label,
  .mdc-text-field:not(.mdc-text-field--disabled):not(.mdc-text-field--focused) .mdc-floating-label {
    color: $secondary-text-color-dark;
  }

  .mdc-menu .mdc-list {
    color: $primary-text-color-dark;
  }

  .mdc-select:not(.mdc-select--activated) .mdc-select__dropdown-icon {
    filter: brightness(0) invert(1);
  }

  :not(.mdc-list--non-interactive) > :not(.mdc-list-item--disabled).mdc-list-item::before,
  :not(.mdc-list--non-interactive) > :not(.mdc-list-item--disabled).mdc-list-item::after {
    background-color: #fff;
  }
}
