$primary-text-color: rgba(#000000, 0.87);
$secondary-text-color: rgba(#000000, 0.54);
$background: #fafafa;
$dark-background: #e0e0e0;

// dark
$primary-text-color-dark: #fff;
$secondary-text-color-dark: rgba(#fff, 0.7);
$background-dark: #303030;
$dark-background-dark: #212121;
