@import "@material/button/mdc-button";
@import "@material/textfield/mdc-text-field";
@import "@material/list/mdc-list";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";
@import "@material/select/mdc-select";

.bottom-bar-expert {
  &.hidden {
    display: none;
  }

  .bottom-bar-expert-inputs-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .input-modulus-length {
      @include mdc-text-field-outline-shape-radius(16px);

      flex-grow: 1;
      margin: 8px;
      min-width: 120px;
      flex-basis: 120px;
    }

    .select-hash-algorithm {
      @include mdc-select-outline-shape-radius(16px);

      flex-grow: 1;
      flex-basis: 120px;
      min-width: 120px;
      margin: 8px;

      .select-hash-algorithm-width {
        width: 100%;
      }
    }
  }

  .note {
    color: rgba($color: #000000, $alpha: 0.54);
    margin: 16px;
    margin-top: 0px;
    font-size: 0.7em;
  }

  .mdc-button {
    @include mdc-button-shape-radius(50%);

    margin: 8px;
  }
}
