@import "../../stylesheets/variables.scss";
@import "@material/button/mdc-button";
@import "@material/textfield/mdc-text-field";
@import "@material/list/mdc-list";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";
@import "@material/select/mdc-select";

.bottom-bar-expert {
  &.hidden {
    display: none;
  }

  .bottom-bar-expert-inputs-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .input-modulus-length {
      @include mdc-text-field-outline-shape-radius(16px);

      flex-grow: 1;
      margin: 8px;
      min-width: 120px;
      flex-basis: 120px;

      @media (prefers-color-scheme: dark) {
        @include mdc-text-field-ink-color($primary-text-color-dark);
        @include mdc-text-field-hover-outline-color($primary-text-color-dark);
      }
    }

    .select-hash-algorithm {
      @include mdc-select-outline-shape-radius(16px);

      flex-grow: 1;
      flex-basis: 120px;
      min-width: 120px;
      margin: 8px;

      @media (prefers-color-scheme: dark) {
        @include mdc-select-ink-color($primary-text-color-dark);
        @include mdc-select-hover-outline-color($primary-text-color-dark);
      }

      .select-hash-algorithm-width {
        width: 100%;
      }
    }
  }

  .note {
    color: $secondary-text-color;
    margin: 16px;
    margin-top: 0px;
    font-size: 0.7em;

    @media (prefers-color-scheme: dark) {
      color: $secondary-text-color-dark;
    }
  }

  .mdc-button {
    @include mdc-button-shape-radius(50%);

    margin: 8px;
  }
}
