@use "@material/theme" with (
  $background: #fafafa,
  $primary: #43a047,
  $secondary: #e65100,
  $on-primary: #fff,
  $on-secondary: #fff
);

@import "./common/stylesheets/variables";
@import "./common/stylesheets/mdc-dark-theme";
@import "./common/stylesheets/material-icons-outlined";

@import "@material/button/mdc-button";
@import "@material/icon-button/mdc-icon-button";
@import "@material/snackbar/mdc-snackbar";

@import "./common/modules/AnimatedLogo/animated-logo";
@import "./common/modules/Header/header";
@import "./common/modules/Footer/footer";
@import "./common/modules/BottomBar/bottom-bar";

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: $background;
  color: $primary-text-color;
  min-width: 260px;
  min-height: 100vh;
  overflow-y: overlay;

  @media (prefers-color-scheme: dark) {
    color: $primary-text-color-dark;
    background-color: $background-dark;
  }
}

#overlay-loading-generating-key {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgba($color: #000000, $alpha: 0.4);

  &.hide {
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;

    opacity: 0;
    visibility: hidden;
  }

  &.gone {
    display: none;
  }

  #text-loading {
    color: white;
    font-weight: 300;
    text-align: center;
    font-size: 2em;

    @media (max-width: 640px) {
      font-weight: 400;
      font-size: 1.3em;
    }
  }

  .animated-logo {
    width: 200px;
    width: min(200px, 30%);
  }
}

#main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#key-pair-url-container {
  max-width: 1800px;
  min-width: 250px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  padding-top: 48px;

  @media (max-width: 640px) {
    padding-top: 24px;
  }

  .url-area {
    position: relative;
    border-radius: 32px;
    margin: 48px;
    margin-top: 0px;
    padding: 16px;
    padding-top: 24px;
    flex-grow: 1;
    flex-basis: 500px;
    min-height: 10px;
    max-width: 500px;
    width: 500px;
    box-sizing: border-box;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    @media (max-width: 640px) {
      margin: 4%;
    }

    .title-container {
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 16px;
      padding-left: 8px;
      padding-right: 8px;

      .title {
        font-weight: 500;
        margin: 0px;
        margin-bottom: 4px;
      }

      span {
        color: $secondary-text-color;

        @media (prefers-color-scheme: dark) {
          color: $secondary-text-color-dark;
        }
      }
    }

    .url-container {
      flex-grow: 1;
      padding-left: 8px;
      padding-right: 8px;
      margin-bottom: 16px;
      align-self: flex-start;

      a {
        overflow-wrap: break-word;
        word-break: break-all;
        color: #1976d2;

        &:visited {
          color: #512da8;
        }
      }
    }
  }

  #public-key-url-area {
    background-color: #f1f8e9;

    @media (prefers-color-scheme: dark) {
      background-color: #273a12;
    }
  }

  #private-key-url-area {
    background-color: #fff8e1;

    @media (prefers-color-scheme: dark) {
      background-color: #4b3900;
    }

    .title-container {
      width: 100%;
      box-sizing: border-box;

      .warning {
        color: #d50000;

        @media (prefers-color-scheme: dark) {
          color: #ff7070;
        }
      }
    }
  }
}
