@import "./common/modules/AnimatedLogo/animatedLogo";
@import "./common/modules/Header/header.scss";

body {
  margin: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background: #fafafa;

  --mdc-theme-primary: #43a047;
  --mdc-theme-secondary: #e65100;
  --mdc-icon-font: "Material Icons Outlined";
}

#overlay-loading-generating-key {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgba($color: #000000, $alpha: 0.4);

  &.hide {
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;

    opacity: 0;
    visibility: hidden;
  }

  &.gone {
    display: none;
  }

  #text-loading {
    color: white;
    font-weight: 300;
    text-align: center;
  }

  .animated-logo {
    width: 200px;
  }
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#key-pair-url-container {
  max-width: 1800px;
  min-width: 250px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

  .url-area {
    position: relative;
    border-radius: 32px;
    margin: 48px;
    padding: 24px;
    flex-grow: 1;
    flex-basis: 500px;
    min-height: 10px;
    max-width: 500px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

    @media screen and (max-width: 640px) {
      margin: 4%;
    }

    .title-container {
      margin-bottom: 16px;

      .title {
        font-weight: 500;
        margin: 0px;
      }
    }

    .url-container {
      margin-bottom: 48px; // space for buttons

      &.expert {
        margin-bottom: 172px; // space for buttons
      }

      a {
        overflow-wrap: break-word;
        word-break: break-all;
        color: #1976d2;

        &:visited {
          color: #512da8;
        }
      }
    }

    .bottom-bar-container {
      position: absolute;
      left: 16px;
      right: 16px;
      bottom: 16px;

      .bottom-bar {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: row;
        align-items: center;

        .left {
          justify-self: start;
        }

        .right {
          justify-self: end;
        }
      }

      .bottom-bar-expert {
        height: 124px;

        &.hidden {
          display: none;
        }

        .bottom-bar-expert-inputs-container {
          display: grid;
          grid-template-columns: 1fr 1fr;
          align-items: center;

          mwc-textfield,
          mwc-select {
            margin: 8px;

            --mdc-notched-outline-leading-border-radius: 16px 0 0 16px;
            --mdc-notched-outline-trailing-border-radius: 0 16px 16px 0;
          }
        }

        mwc-button {
          margin: 8px;
          border-radius: 18px;
          overflow: hidden;
        }
      }
    }
  }

  #public-key-url-area {
    background-color: #f1f8e9;
  }

  #private-key-url-area {
    background-color: #fff8e1;

    .title-container {
      .warning {
        color: #d50000;
      }
    }
  }
}

mwc-icon-button {
  color: rgba($color: #000000, $alpha: 0.54);
}
