@import "./common/stylesheets/loadingBars";

body {
  margin: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;

  --mdc-theme-primary: #43a047;
  --mdc-theme-secondary: #e65100;
  --mdc-icon-font: "Material Icons Outlined";
}

#overlay-loading-generating-key {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba($color: #000000, $alpha: 0.5);

  &.hide {
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;

    background-color: transparent;
    visibility: hidden;
  }
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#key-pair-url-container {
  max-width: 1800px;
  min-width: 250px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

  .url-area {
    position: relative;
    border-radius: 16px;
    margin: 16px;
    padding: 16px;
    flex-grow: 1;
    flex-basis: 500px;
    min-height: 10px;
    max-width: 500px;

    .title-container {
      margin-bottom: 16px;

      .title {
        font-weight: 400;
        margin: 0px;
      }
    }

    .url-container {
      margin-bottom: 48px; // space for buttons

      &.expert {
        margin-bottom: 172px; // space for buttons
      }

      a {
        overflow-wrap: break-word;
        word-break: break-all;
      }
    }

    .bottom-bar-container {
      position: absolute;
      left: 8px;
      right: 8px;
      bottom: 8px;

      .bottom-bar {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: row;
        align-items: center;

        .left {
          justify-self: start;
        }

        .right {
          justify-self: end;
        }
      }

      .bottom-bar-expert {
        height: 124px;

        &.hidden {
          display: none;
        }

        .bottom-bar-expert-inputs-container {
          display: grid;
          grid-template-columns: 1fr 1fr;
          align-items: center;

          mwc-textfield,
          mwc-select {
            margin: 8px;

            --mdc-notched-outline-leading-border-radius: 16px 0 0 16px;
            --mdc-notched-outline-trailing-border-radius: 0 16px 16px 0;
          }
        }

        mwc-button {
          margin: 8px;
          border-radius: 16px;
          overflow: hidden;
        }
      }
    }
  }

  #public-key-url-area {
    background-color: #e8f5e9;
  }

  #private-key-url-area {
    background-color: #fff3e0;

    .title-container {
      .warning {
        color: #d50000;
      }
    }
  }
}

mwc-icon-button {
  color: rgba($color: #000000, $alpha: 0.54);
}

// mwc-button {
//   --mdc-theme-primary: #43a047;
//   --mdc-button-outline-width: 2px;
// }

// mwc-textarea {
//   --mdc-theme-primary: #43a047;
//   --mdc-notched-outline-leading-width: 18px;
//   --mdc-notched-outline-leading-border-radius: 18px 0 0 18px;
//   --mdc-notched-outline-trailing-border-radius: 0 18px 18px 0;
// }
