---
import FaqSection from "@/components/layout/FaqSection/FaqSection.astro";
import Footer from "@/components/layout/Footer.astro";
import FullScreenCenter from "@/components/layout/FullScreenCenter.vue";
import Snackbar from "@/components/layout/Snackbar/Snackbar.vue";
import TopBar from "@/components/layout/TopBar/TopBar.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,viewport-fit=cover"
    />

    <meta name="author" content="Calvin Liang" />
    <meta name="description" content="Public key cryptography made easy" />
    <meta
      name="keywords"
      content="elliptic curve key generator,asymmetric cryptography,public-key cryptography,file encryption,encrypt files,public key,diffie hellman,key generator,private key,encryption,secure message,secret,encrypted message"
    />

    <title>{title}</title>

    <meta property="og:title" content="SecretDrop.io" />
    <meta
      property="og:description"
      content="Public key cryptography made easy"
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://SecretDrop.io" />
    <meta property="og:image" content="https://secretdrop.io/open-graph.png" />

    <meta property="fb:app_id" content="2751774521602538" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="https://secretdrop.io/open-graph.png" />

    <meta name="apple-mobile-web-app-title" content="SecretDrop" />
    <meta name="application-name" content="SecretDrop" />
    <meta name="msapplication-TileColor" content="#f1f8e9" />
    <meta name="theme-color" content="#fdfffd" />
    <meta
      name="theme-color"
      content="#303f30"
      media="(prefers-color-scheme: dark)"
    />

    <link rel="manifest" href="/site.webmanifest" />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/favicon/favicon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
  </head>
  <body ontouchstart="">
    <TopBar />
    <main>
      <FullScreenCenter client:load>
        <slot />
      </FullScreenCenter>
      <FaqSection />
    </main>

    <Footer />

    <Snackbar client:idle />
  </body>
</html>
<style lang="scss" is:global>
  @use "@/scss/colors";
  @use "@/scss/global";
  @use "@fontsource/roboto/300" as *;
  @use "@fontsource/roboto/400" as *;
  @use "@fontsource/roboto/500" as *;
  @use "material-icons/iconfont/material-icons.css";

  html {
    @include global.primary-text-auto;
    @include global.background-auto;

    font-family: "Roboto", Arial, Helvetica, sans-serif;
  }

  body {
    margin: 0;
    padding: 0;

    min-width: 320px;
    min-height: 100lvh;
    overflow: auto;

    padding: env(safe-area-inset-top) env(safe-area-inset-right) 0
      env(safe-area-inset-left);
  }

  a {
    color: colors.$link-text-color;

    @media (prefers-color-scheme: dark) {
      color: colors.$link-text-color-dark;
    }

    &:visited {
      color: colors.$link-text-color-visited;

      @media (prefers-color-scheme: dark) {
        color: colors.$link-text-color-visited-dark;
      }
    }
  }

  .icon {
    user-select: none;
  }

  input,
  textarea,
  button,
  select,
  a {
    -webkit-tap-highlight-color: transparent;
  }
</style>
